spring:
  application:
    name: notification-service

  cloud:
    consul:
      host: localhost
      port: 8500

      discovery:
        enabled: true
        register: true
        service-name: notification-service
        prefer-ip-address: true
        health-check-path: /actuator/health
        health-check-interval: 10s

server:
  port: 9093

management:
  endpoints:
    web:
      exposure:
        include: health
