server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        register: false
        prefer-ip-address: true

    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:
        - id: notification-service
          uri: lb://notification-service
          predicates:
            - Path=/notification/**
